.icon-nav-neo4j{ 
    width: 96px;
    height: 96px;
}

.card-nav-neo4j{
    text-align: center;
    cursor: pointer;
}

.card-nav-neo4j:hover {
    /*background: rgb(6, 215, 156);*/
    background: rgb(255, 178, 43);
}

.card-nav-neo4j:hover .text-muted {
    color: #fff!important;
}

.card-nav-neo4j:hover img{
    // filter: invert(0%);
}

.p-ns-qualifiedname {
    height: 60px;
}

.p-c-qualifiedname {
    height: 100px;
}

.p-c-title {
    height: 42px;
}

.p-c-name {
    height: 40px;
}

.graph-container {
    // border: 1px solid #ced4da;
    // border-radius: 3px;
}

.breadcrumb {
    background: #2962FF!important;
    color: #fff;
}

.graph-node-info {
    margin-bottom: 25px;
}

.graph-node-info .row{ 
    padding-top: 10px;

}

.graph-node-info .row:first-child {
    margin-bottom: 10px;
}

.graph-node-info .row + .row {
    border-top: 1px solid #000;
}

.img-invert{
    filter: invert(100%);
}

.title-tree {
    font-size: 20px;
    text-align: right;
    margin-right: 0px;
    padding-right: 0px!important;
}

.footer{
    padding-left: 0px!important;
}

.input-tree {
    margin-top: 16px;
    border-color: #9A9A9A;
}

.slider-tree{
    padding-left: 20px!important;
    padding-right: 20px!important;
}

.graph-node-info{
    color: #fff;
}

// spinner

.spinner-n4j {
    width: 70px;
    margin: 0 auto;
  }
  
  .spinner-n4j > div {
    width: 18px;
    height: 18px;
    background-color: #fff;
  
    border-radius: 100%;
    display: inline-block;
    -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
    animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  }
  
  .spinner-n4j .bounce1 {
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
  }
  
  .spinner-n4j .bounce2 {
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
  }
  
  @-webkit-keyframes sk-bouncedelay {
    0%, 80%, 100% { -webkit-transform: scale(0) }
    40% { -webkit-transform: scale(1.0) }
  }
  
  @keyframes sk-bouncedelay {
    0%, 80%, 100% { 
      -webkit-transform: scale(0);
      transform: scale(0);
    } 40% { 
      -webkit-transform: scale(1.0);
      transform: scale(1.0);
    }
  }
