<div class=" content">
  <div class=" row">
    <div class=" col-12">
      <div class=" card card-chart">
        <div class=" card-header">
          <div class=" row">
            <div class=" col-sm-6 text-left">
              <h5 class=" card-category">Proyectos con información de acoplamiento</h5>
              <h2 class=" card-title">Proyectos</h2>
            </div>
          </div>
        </div>
        <!-- <div class=" card-body">
          
        </div> -->
      </div>
    </div>
  </div>

  <div class="row justify-content-center">
    <ng-container *ngIf="!loading; else loadingTemplate">
      <div class="col-3" *ngFor="let p of projects">
        <div class="card card-nav-neo4j" (click)="goToNamespaces(p.id)">
          <div class="card-body">
            <img src="../../../assets/img/project_icon.png" alt="" class="card-img-top icon-nav-neo4j img-invert">
            <div class="card-body">
              <h4 class="card-title">{{p.id}}</h4>
              <br>
              <p class="m-b-0"><span class="text-muted">{{p.commits}} commits</span></p>
              <p><span class="text-muted">{{p.classes}} clases</span></p>
            </div>
          </div>
        </div>
      </div>

      <div class="col-12" *ngIf="projects.length < 1">
        <p class="text-center">
          No se encontraron registros
        </p>
      </div>
    </ng-container>
  </div>
</div>

<!-- Templates -->
<ng-template #loadingTemplate>
  
    <div class="col-3">
      <div class="btn btn-block btn-info">
        <div class="spinner-n4j" >
          <div class="bounce1"></div>
          <div class="bounce2"></div>
          <div class="bounce3"></div>
        </div>
        <div class="spinner-text">
          Cargando
        </div>  
      </div>
    </div>
  
</ng-template>